@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@page {
    size: 110mm 170mm;
}
@page :left {
    margin: 12mm 10mm 20mm 10mm;
    @bottom-left {
        content: counter(page);
    }
    @top-right {
        content: string(heading);
        font-variant: small-caps;
    }
}
@page :right {
    margin: 12mm 10mm 20mm 10mm;
    @top-left {
        content: string(heading);
        font-variant: small-caps;
    }
    @bottom-right {
        content: counter(page);
    }
}
@page :blank {
    @top-right {
        content: none;
    }
    @top-left {
        content: none;
    }
}
@page :clean {
    @top-right {
        content: none;
    }
    @top-left {
        content: none;
    }
}

* {
    font-family: "Gentium Book Plus", Tahoma, Geneva, Verdana, sans-serif;
}

img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 60%;
}

html {
    font-size: 8pt;
}
body {
    margin: 0;
}
section {
    padding-top: 25mm;
}
aside {
    display: none;
}

h1 {
    font-size: 2.6em;
    font-weight: normal;
    margin: 3em 0;
    page: clean;
}
h2 {
    break-before: page;
    font-size: 1.4em;
    font-variant: small-caps;
    font-weight: normal;
    margin: 0 0 1em;
    string-set: heading content();
    text-align: center;
}
p {
    hyphens: auto;
    margin: 0 0 0.4em;
    text-align: justify;
    text-indent: 1em;
}
dd {
    margin: 0 0 0 1em;
}
br::after {
    content: "";
    display: inline-block;
    width: 0.78em;
}

.fullpage {
    display: none;
}
